body{
    margin: 0;
    padding: 0;
    font-family:Inter,sans-serif;
    
    background: linear-gradient(#821EE5 ,#D0A1FF);
    height: 100vh;
    
}
h2{
    text-align: right;
    color: white;
}

h1{
    text-align: left;
    padding: 0 0 20px 0;
    color: white;
    margin-top: 40px;
    margin-left: 20px;
    
}

.recuperar p{
    margin-left: 20px;
    color: white;
    font-size: 30px;
}

.recuperar input[type="email"]{
    width: 25%;
    padding: 0 5px;
    height: 35px;
    font-size: 16px;
    border: solid white;
    background: transparent;
    outline: none;
    margin-left: 50px;
    margin-right: 80px;
    border-radius: 20px;
    margin-bottom: 55px;
}



input[type="submit"]{
    width: 30%;
    height: 50%;
    border: 1px solid white;
    background: white;
    border-radius: 30px;
    font-size: 25px;
    color:#821EE5;
    cursor: pointer;
    outline: none;
    margin-left: 50px;
}
input[type="submit"]:hover{
    border-color: #821EE5;
    transition: .5s;
}

input::placeholder{
    color: white;
    text-align: center;
    font-size: 20px;
}

input[type="email"]{
    color: white;
}

/*MEDIAS QUERIES*/

/*TELEFONOS INTELIGENTES*/
@media( min-height:768px){
   
    h1{
        text-align: center;
        padding: 0 0 20px 0;
        color: white;
        margin-top: 40px;
        margin-left: 20px;
        font-size: 45px;
    }


.recuperar p{
    
    margin-left: 20px;
    color: white;
    font-size: 30px;

}


.recuperar input[type="email"]{
    width: 80%;
    padding: 0 5px;
    height: 75px;
    font-size: 35px;
    border: solid white;
    background: transparent;
    outline: none;
    margin-top: 110px;
    margin-left: 50px;
    margin-right: 80px;
    border-radius: 40px;
    margin-bottom: 65px;
}

input::placeholder{
    color: white;
    text-align: center;
    font-size: 45px;
}
    .divi{
    display: flex;
    }
input[ type="submit"]{
       margin-top: 150px;
       margin-left: 20px;
       margin-right: 35px;
       width: 45%;
       height: 90px;
       border: 2px solid white;
       background: white;
       border-radius: 40px;
       font-size: 50px;
       color:#821EE5;
       cursor: pointer;
       outline: none;
   
   }
   input[ type="submit"]:hover{
       border-color: #821EE5;
       transition: .5s;
   }
   
h2{
       text-align: left;
       margin-left: 20px;
       font-size: 30px;
   
   }
}
   
   
